html,body {
    height: 100%;
    margin:0;
}
body {
    display:flex;
    flex-direction: column;
}
header{
    background-color: blanchedalmond;
    text-align: center;
}
main {
    display:flex;
    justify-content:center;
    padding: 20px;
    flex:1;
}
img {
    width: 350px;
    height: 250px;
}
footer {
    font-size:smaller;
    text-align: center;
}
